/* ==================== IMPORT FONT ==================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ==================== TAILWIND BASE ==================== */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== GLOBAL STYLES ==================== */
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* ==================== BASE LAYER ==================== */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  section {
    @apply relative overflow-hidden py-sec-md;
  }

  img {
    @apply select-none object-cover;
  }
}

/* ==================== COMPONENTS ==================== */
@layer components {
  .link {
    @apply text-base font-medium text-gray-90 transition-colors hover:text-primary-50;
  }

  .btn-primary {
    @apply inline-flex h-12 shrink-0 items-center justify-center gap-x-2 rounded-full bg-primary-50 px-6 text-base font-normal text-gray-10 transition-colors hover:bg-primary-60;
  }

  .label {
    @apply w-full text-base font-normal text-gray-90;
  }

  .input {
    @apply h-12 w-full rounded-lg border-[1.5px] border-solid border-gray-30 px-2 text-gray-90 outline-none placeholder:text-sm placeholder:font-normal placeholder:text-gray-50 focus:border-primary-50;
  }
}
